	.sd-social-icon-text li.share-chatme a.sd-button > span {
		background: url(../images/footer.svg) no-repeat left;
		background-size: 15px 15px;
		padding-left: 20px;
	}

	.sd-social-icon .sd-content ul li[class*='share-'].share-chatme a.sd-button {
		background: url(../images/footer.svg) no-repeat left;
		background-size: 15px 15px;
		padding: 16px;
		top: 12px;
	}